::v-deep .n22-nav-bar__title {
  color: #333333;
  font-size: 18px;
}
::v-deep .n22-icon-back {
  color: #ffba03;
}
::v-deep .n22-icon-search {
  font-weight: 500;
  font-size: 26px;
}
::v-deep .n22-nav-bar {
  background-color: #ffffff;
}
::v-deep .n22-tab-bar {
  background-color: #ffffff;
  margin-top: 3px!important;
}