.proposalBookSimple-product-detail {
  background-color: #ffffff;
}

.bd {
  // position: relative;
  width: 100%;
  height: 170px;
}

.submain {
  position: relative;
  background-color: #f6f6f6;
  // width: 375px;
  height: 10px;
}

.row_title_fir {
  margin-top: 10px;
  border-top: 1px solid #fdb92c;
}

.row_title {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #fdb92c;
  border-left: 1px solid #fdb92c;
  border-right: 1px solid #fdb92c;
  padding-right: 7px;
  padding-left: 8px;
  // width: 351px;
  height: 45px;
}

.row_content {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #fdb92c;
  border-left: 1px solid #fdb92c;
  border-right: 1px solid #fdb92c;
  margin: 0 10px;
  padding-bottom: 10px;
  // width: 351px;
  // height: 461px;
}

.group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 14px;
  margin-left: 12px;
  height: 20px;

  background-color: #FDB92C;
  color: #ffffff;
  padding: 1px 24px 0px 8px;
  border-radius: 20px;
  img {
    height: 16px;
    width: 16px;
    margin-right: 9px;
  }
}

.colorDiv_2 {
  margin-right: 5px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

.info_4 {
  opacity: 1;
  line-height: 20px;
  white-space: nowrap;
  // color: #fdb92c;
  font-size: 14px;
  font-weight: 500;
}

.summary_7 {
  position: relative;
  opacity: 1;
  margin: 5px 10px 0 13px;
  line-height: 17px;
  letter-spacing: 0.6px;
  // white-space: nowrap;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
  line-height: 18px;
}

.container_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 12px;
  height: 20px;
  
  background-color: #FDB92C;
  color: #ffffff;
  padding: 1px 24px 0px 8px;
  border-radius: 20px;
  img {
    height: 16px;
    width: 16px;
    margin-right: 9px;
  }
}

.container_2_1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 12px;
  height: 20px;
  color:#fdb92c;
}

.color_4 {
  margin-right: 6px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

// .info_5 {
//   opacity: 1;
//   line-height: 20px;
//   white-space: nowrap;
//   color: #fdb92c;
//   font-size: 14px;
//   font-weight: 500;
// }

// .outer_2 {
//   display: flex;
//   position: relative;
//   align-items: center;
//   flex-direction: row;
//   margin-top: 10px;
//   margin-left: 12px;
//   height: 20px;
// }

.colorDiv_3 {
  margin-right: 6px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

// .info_6 {
//   opacity: 1;
//   line-height: 20px;
//   white-space: nowrap;
//   color: #fdb92c;
//   font-size: 14px;
//   font-weight: 500;
// }

// .block_3 {
//   display: flex;
//   position: relative;
//   align-items: center;
//   flex-direction: row;
//   margin-top: 10px;
//   margin-left: 14px;
//   height: 20px;
// }

.color_5 {
  margin-right: 6px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

// .info_7 {
//   opacity: 1;
//   line-height: 20px;
//   white-space: nowrap;
//   color: #fdb92c;
//   font-size: 14px;
//   font-weight: 500;
// }

.container_3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 21px;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
}

.icon_3 {
  width: 14px;
  height: 17px;
}
.icon_3_1 {
  width: 18px;
  height: 19px;
}

.word_7 {
  opacity: 1;
  max-width: 187px;
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 15px;
  font-weight: 600;
}

.row3 {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #fdb92c;
  width: 351px;
  height: 300px;
}

.outer_4 {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  margin: 14px auto 0;
  background-color: #fdb92c;
  padding-right: 10px;
  padding-left: 12px;
  width: 320px;
  height: 30px;
}

.info_13 {
  opacity: 1;
  line-height: 21px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.group_4 {
  ::v-deep.n22-icon {
    color: #ffffff;
  }
}

.pro_demo_txt {
  margin-top: 15px;
}

.itemLong {
  position: relative;
  align-self: center;
  margin-top: 11px;
  width: 321px;
  height: 404px;
}

.info_33 {
  position: relative;
  opacity: 1;
  margin-top: 11px;
  margin-left: 15px;
  max-width: 323px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  letter-spacing: 0.6px;
  white-space: nowrap;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.summary_15 {
  position: relative;
  margin-top: 17px;
  margin-left: 15px;
  width: 311px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  letter-spacing: 0.6px;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.block_10 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 12px;
  margin-left: 12px;
  height: 20px;
}

.color_6 {
  margin-right: 5px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

.info_34 {
  opacity: 1;
  line-height: 20px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 14px;
  font-weight: 500;
}

.info_35 {
  opacity: 1;
  line-height: 17px;
  letter-spacing: 0.6px;
  white-space: nowrap;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.group_7 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 4px;
  margin-left: 12px;
  height: 20px;
}

.colorDiv_5 {
  margin-right: 5px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

.text_21 {
  opacity: 1;
  line-height: 20px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 14px;
  font-weight: 500;
}

.txt_14 {
  opacity: 1;
  line-height: 17px;
  letter-spacing: 0.6px;
  white-space: nowrap;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.text_14_01{
  margin-left: 22px;
}

.container_9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 12px;
  height: 20px;
}

.color_7 {
  margin-right: 5px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

.desc_15 {
  opacity: 1;
  line-height: 20px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 14px;
  font-weight: 500;
}

.block_13 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 14px;
  height: 20px;
}

.colorDiv_6 {
  margin-right: 5px;
  border-radius: 6px;
  background-color: #fdb92c;
  width: 6px;
  height: 6px;
}

.group_11 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  height: 20px;
}

// .color_8 {
//   margin-right: 5px;
//   border-radius: 6px;
//   background-color: #fdb92c;
//   width: 6px;
//   height: 6px;
// }

.info_36 {
  opacity: 1;
  line-height: 20px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 14px;
  font-weight: 500;
}

.desc_18 {
  position: relative;
  opacity: 1;
  margin-top: 3px;
  margin-left: 10px;
  max-width: 328px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 17px;
  letter-spacing: 0.6px;
  white-space: nowrap;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.row9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(217, 217, 217, 1);
  width: 351px;
  height: 45px;
}

.section {
  opacity: 1;
  max-width: 339px;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  white-space: nowrap;
  color: #fdb92c;
  font-size: 16px;
  font-weight: 500;
}

table,
table tr th,
table tr td {
  border: 1px solid #fff1c2;
}
.sick_table {
  tr td {
    padding: 10px;
  }
  font-size: 13px;
  color: #333232;
  border-collapse: collapse;
  text-align: left;
  margin: 10px auto;
  width: 320px;
  .table_title {
    td {
      width: 50%;
      color: #333333;
      font-size: 11px;
      // transform: scale(0.9);
      padding: 2px auto;
      line-height: 16px;
    }
  }
}
.pro_table {
  &.wd01 {
    td:nth-child(1) {
      width: 11%;
    }
    td:nth-child(2) {
      width: 14%;
    }
    td {
      width: 17%;
    }
  }
  &.wd02 {
    td:nth-child(1) {
      background-color: #FFF9E3;
    }
    td:nth-child(2) {
      width: 11%;
    }
    td {
      width: 12.5%;
    }
    tr:first-child {
      background-color: #ffffff;
    }
  }
  font-size: 13px;
  color: #333232;
  border-collapse: collapse;
  text-align: center;
  margin: 10px auto;
  width: 320px;
  tr:first-child {
    background-color: #fff8e1;
  }
  .table_title {
    td {
      color: #333333;
      padding: 10px 0;
      line-height: 16px;
      font-size: 11px;
      font-weight:500;
      // transform: scale(0.9);
    }
  }
  .table_title_02 {
    td {
      padding: 10px 5px;
      font-size: 11px;
    }
  }
}
